@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    /* cursor: none; */
}
::-webkit-scrollbar{
    width: 7px;
}
::-webkit-scrollbar-thumb{
    background-color: #222;
}
.hero-cont,.hero-cont-2,.hero-cont-3,.hero-cont-4{
    width: 100%;
    height: 30vh;
    position: relative;
    background-image: url("../assets/img/background.png");
    background-size:cover;
    background-position: center;
    background-position: fixed;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.navbar{
    font-family: 'Fira Sans', sans-serif;
    background-color: #F0F0F0;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}
.nav-link:hover{
    transform: scale(1.1);
}
.btn-nav-btn{
    margin: 0px;
    padding: 0px;
    border: 0px;
}
.card{
    font-family: 'Special Elite', cursive;
    color: #333;
}
.description{
    font-family: 'Fira Sans', sans-serif;
    color: #333;
    text-align: justify;
    font-size: 1em;
}
.hero-cont-2{
    background:#ffffff;
    height: 5vh;
    filter: grayscale(80%);
}
.hero-cont-3{
    background:#ffffff;
    height: 10vh;
    filter: grayscale(80%);
}
.hero-cont-4{
    background:#ffffff;
    height: 5vh;
    filter: grayscale(80%);
}
.progress-title {
    font-size: 1em;
    font-weight: 700;
    color: #333;
    margin: 0 0 10px
}

.progress {
    height: 20px;
    border: 0.1em solid black;
    border-radius: 0;
    box-shadow: none;
    margin-bottom: 30px;
    overflow: visible
}

.progress .progress-bar {
    position: relative;
    -webkit-animation: animate-positive 2s;
    animation: animate-positive 2s
}

.progress .progress-value {
    display: block;
    font-size: 1.1em;
    font-weight: 500;
    color: black;
    /* border: 0.2em solid black; */
    position: absolute;
    left: 10px; 
}

.progress:hover{
    cursor: pointer;
    transform: scale(1.01);

}
/* .progress .progress-bar:after {
    content: "";
    display: inline-block;
    width: 10px;
    background: #fff;
    position: absolute;
    top: -10px;
    bottom: -10px;
    right: -5px;
    z-index: 1;
    transform: rotate(35deg)
} */
#skills{
    font-family: 'Indie Flower', cursive;
}
.progress-value{
    font-family: 'Fira Sans', sans-serif;
}
.contact {
    padding: 40px 0;
    font-family: 'Indie Flower', cursive;
}

.contact .heading h2 {
    font-size: 30px;
    font-weight: 700;
    margin: 0;
    padding: 0;

}



.contact .heading p {
    font-size: 15px;
    font-weight: 400;
    line-height: 1.7;
    color: #999999;
    margin: 20px 0 60px;
    padding: 0;
}

.contact .form-control {
    padding: 25px;
    font-size: 1em;
    margin-bottom: 10px;
    background: #f9f9f9;
    border: 0;
    border-radius: 10px;
    font-family: 'Times New Roman', Times, serif;
}

.contact button.btn {
    padding: 10px;
    border-radius: 10px;
    font-size: 15px;
    background:  #555;
    color: #ffffff;
}

.contact .title h3 {
    font-size: 18px;
    font-weight: 600;
}

.contact .title p {
    font-size: 14px;
    font-weight: 400;
    color: #999;
    line-height: 1.6;
    margin: 0 0 40px;
}

.contact .content .info {
    margin-top: 30px;
}
.contact .content .info i {
    font-size: 30px;
    padding: 0;
    margin: 0;
    color: #02434b;
    margin-right: 20px;
    text-align: center;
    width: 20px;
}
.contact .content .info h4 {
    font-size: 13px;
    line-height: 1.4;
}

.contact .content .info h4 span {
    font-size: 13px;
    font-weight: 300;
}

